@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
	--red-hat-display: "Red Hat Display", sans-serif;
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background: var(--pale-blue) url(./images/pattern-background-desktop.svg) no-repeat;
    padding: 0 20px;
	font-family: var(--red-hat-display);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
    font-weight: 500;
}

main {
	background-color: white;
	width: 375px;
	text-align: center;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.img {
	width: 100%;
}

.content {
	padding: 30px 41px;
}

.title {
	font-weight: 900;
    font-size: 28px;
}

.description {
	color: var(--desaturated-blue);
	margin: 20px 0;
}

.pay-chart {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--very-pale-blue);
	border-radius: 10px;
    padding:18px;
}

.pay-img {
	padding-right: 15px;
}

.plan {
    text-align: left;
}

.plan .time {
	color: var(--dark-blue);
	font-weight: 900;
}

.plan .price {
	color: var(--desaturated-blue);
}

.change-button {
    text-decoration: underline;
    color: var(--bright-blue);
    font-weight: 700;
    font-family: var(--red-hat-display);
    background-color: var(--very-pale-blue);
}

.pay-button {
    width: 100%;
    padding: 15px 0;
	background-color: var(--bright-blue);
	color: white;
	font-weight: 700;
	font-family: var(--red-hat-display);
    margin: 25px 0 15px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.cancel-button {
	background-color: white;
	color: var(--desaturated-blue);
	font-weight: 900;
	font-family: var(--red-hat-display);
}

.change-button:hover {
    text-decoration: none;
}

.pay-button:hover {
    opacity: .7;
}

.cancel-button:hover {
    color: black;
}